:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
  place-items: center;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

hr {
  margin-top: 2em;
}

button:hover {
  border-color: #838383;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.light {
  
    color: black;
    background-color: rgba(255, 255, 255, 0.87);
  
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dark {
  
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);

  button{
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(8, 8, 8);
  }
}
